*{
	margin: 0;
	padding: 0;
}
.body{
	font-family: 'Fira Sans', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
}
.header{
	width: 100%;
}
.container{
	width: 1140px;
	margin: auto;
}
a{
	text-decoration: none;
}
.navbar{
	display: flex;
	margin-top: 20px;
}
.logo{
	flex-basis: 20%;
}
.list{
	flex-basis: 60%;
}
.list ul li{
	list-style: none;
	display: inline-block;
	margin-left: 5px;
	padding-left: 15px;
	padding-top: 10px;
}
.list ul li a{
	color: black;
	font-weight: 400;
}
.button{
	flex-basis: 20%;
}
.button a{
	padding: 10px 15px;
	background-color: #ff6162;
	color: white;
	border: 1px solid transparent;
	border-radius: 5px;

}
/*banner design start here*/
.banner{
	width: 100%;

}
.banner-main{
	display: flex;
	margin-top: 100px;
	padding-top: 40px;

}
.left{
	flex-basis: 50%;
	margin-right: 30px;
}
.left h1{
	color: black;
	font-weight: 700;
	font-size: 45px;
	padding-bottom: 50px;
	line-height: 52px;
}
.left p{
	font-weight: 300;
	line-height: 22px;
	color: gray;
}



.right{
	flex-basis: 50%;
}
/*banner design end here*/

/*demo design start here*/
.demo{
	width: 100%;

}
.demo-main{
	text-align: center;
	margin-top: 300px;
	margin-bottom: 40px;
}
.demo-main h2{
	font-size: 32px;
	line-height: 52px;
}
.demo-main p{
	color: gray;
	font-weight: 300;
	line-height: 22px;
}
/*demo design end here*/

/*project design start here*/

.project{
	width: 100%;
	margin: 20px 20px;
}
.pj-container{
	width: 1900px;
	margin: auto;
	margin-bottom: 100px;
}
.project-main{
	display: grid;
	grid-template-columns: auto auto auto auto;
	column-gap: 15px;	
}
.pj-1 img{
	max-width: 100%;
	margin: 20px 10px;
}
.pj-1 h4{
	text-align: center;
	margin-bottom: 15px;

}
.pj-1{
	transition: 0.5s;
}
.pj-1:hover{
	transform: scale(1.1);
	box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
	transition: .5s;
}
}
/*project design end here*/

/*features design start here*/
.features{
	width: 100%;

}
.features-main{
	text-align: center;
	margin-top: 300px;
	margin-bottom: 40px;
}
.features-main h2{
	font-size: 32px;
	line-height: 52px;
}
.features-main p{
	color: gray;
	font-weight: 300;
	line-height: 22px;
}
/*features design end here*/
/*tab design start here*/
.tab{
	width: 100%;
}
.tab-content{
	display: grid;
	grid-template-columns: auto auto auto;
	column-gap: 30px;
	row-gap: 30px;
	text-align: center;
	margin-bottom: 80px;
}
.fetaure-tab{
	background: #f5f5f5;
	padding: 30px;
	border-radius: 8px;
	transition: 0.5s;
}
.fetaure-tab:hover{
	background: white;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	transition: 0.5s;
}
.fetaure-tab i{
	color: #ff6162;
	font-size: 40px;
	margin-bottom: 15px;
	background: white;
	padding: 15px;
	border-radius: 100%;
}
.fetaure-tab h5{
	font-size: 18px;
	color: #464e52;
	margin-bottom: 10px;
}
.fetaure-tab p{
	color: #8F8F8F;
	line-height: 1.4;
}
/*tab design end here*/

/* <!-- Footer Section Start --> */

.footer{
	width: 100%;
	background: #28253f;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
}
.footer-head h3{
	color: white;
	font-size: 35px;
	margin-bottom: 70px;
}
.footer-button{
	text-transform: uppercase;
	
	

}
.footer-button a{
	padding: 12px 20px;
	background: #ff6162;
	color: white;
	border-radius: 8px;

}
.footer-button a:hover{
	background: #794444;
}
.footer-end-part{
	display: flex;
	justify-content: center;
}


}
.text {
	margin-top: 69px;
}
.text span{
	color: #93919e;
	text-transform: capitalize;
}

/* <!-- Footer Section End --> */